<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tech Enthusiasts Homepage</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>

  <div class="welcome-section">
  <div class="container">
    <h1>Welcome to Cool Tech Explorers!</h1>
    <p>Discover the latest in technology, gadgets, and innovations.</p>
  </div>
</div>

 <section class="latest-articles">
  <h2>Latest Reviews</h2>
  <div class="articles-container">
    <div class="article">
      <a href="https://appleinsider.com/articles/23/12/06/iphone-15-pro-review-three-months-later-worth-every-penny">
        <img src="../static/images/an7wikadexter.jpeg" alt="Review 1">
        <p>Three months after its launch, it's still undeniable that the iPhone 15 Pro is expensive, but worth it for the performance and the lightness</p>
      </a>
    </div>
    <div class="article">
      <a href="https://www.engadget.com/galaxy-z-fold-3-hands-on-specs-price-available-now-140051893.html">
        <img src="../static/images/9wdtiha.jpeg" alt="Review 2">
        <p>It’s hard to believe that in just a matter of years, foldable devices have gone from the stuff of science fiction to actual usable daily drivers.</p>
      </a>
    </div>
    <a href="/reviews">
      <button>Read More Reviews</button>
    </a>
  </div>
</section>

<section class="latest-articles">
  <h2>Latest News</h2>
  <div class="articles-container">
    <div class="article">
      <a href="https://www.theverge.com/2023/11/9/23954497/humane-ai-pin-wearable-news-announcements">
        <img src="../static/images/dexterhanijay.jpeg" alt="News 1">
        <p>After a very long windup, Humane has finally revealed all the details of the AI Pin, its new AI-powered wearable that’s designed to be something that can keep your head out of your smartphone. </p>
      </a>
    </div>
    <div class="article">
      <a href="https://scitechdaily.com/quantum-computing-leap-argonnes-qubit-breakthrough/">
        <img src="../static/images/wiliiii.jpeg" alt="News 2">
        <p>Argonne and partners attained a major milestone toward quantum computing based on single-electron qubits: nearly a thousand-fold increase in coherence time and a first demonstration of scale-up.
        </p>
      </a>
    </div>
    <a href="/news">
      <button>Read More News</button>
    </a>
  </div>
</section>





  <footer>
    <p>&copy; 2023 Your Website. All rights reserved.</p>
  </footer>
</body>
</html>
